* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    width: 100vw;
    height: 100vh;
}

section.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.imgBackground {
    width: 100%;
    height: 30%;
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
    
}

div.frontCard, div.backCard {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 160px;
}

div.frontCard {
    display: flex;
    flex-direction: column;
    background-image: url(images/bg-card-front.png);
    top: 110px;
    left: 20px; 
    z-index: 1;
    padding: 15px;
}

div.frontCard img {
    object-fit: contain;
    width: 25%;
}


div.frontCard p.cardNumber {
    padding-top: 25px;
    font-size: 18px;
}

div.frontCard p {
    color: white;
    font-size: 11px;
}

div.frontCard div p {
    float: left;
}


div.clearfix p:nth-child(2), div.clearfix p:nth-child(3), div.clearfix p:nth-child(4) {
    float: right;
    transition: .3s;
}

div.clearfix::after {
content: "";
clear: both;
display: table;
}


div.backCard {
    top: 23px;
    right: 20px; 
    background-image: url(images/bg-card-back.png);
}

div.backCard p {
    text-align: right;
    line-height: 140px;
    padding-right: 40px;
    color: white;
    font-size: 11px;
    letter-spacing: 3px;
}

.startState , .completeState {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    padding: 30px;
    padding-top: 70px;
}

section.startState div:nth-child(1) input, section.startState div:nth-child(2) input {
    width: 100%;
}

div input {
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    padding: 15px;
    font-size: 18px;
    transition: .3s;
}

div input::placeholder {
    opacity: 0.4;
}


 /* input:focus {
    outline: none;
    border-image: linear-gradient(to right, hsl(249, 99%, 64%) , hsl(278, 94%, 30%)) 1;
    border-radius: 15px;
    
} */

div  p {
    padding: 10px 0;
    letter-spacing: 2px;
    color: hsl(278, 68%, 30%);
}


p.wrongFormula {
    display: block;
    opacity: 0;
    color: hsl(0, 100%, 66%);
    padding: 2px;
}

section.startState div:nth-child(3) p {
    width: 50%;
}

section.startState div:nth-child(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.startState div:nth-child(3) input:nth-of-type(1), section.startState div:nth-child(3) input:nth-of-type(2) {
    width: 20%;
}

 section.startState div:nth-child(3) input:nth-of-type(3) {
    width: 50%;
 }

button {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    height: 50px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 18px;
}



section.completeState {
    align-items: center;
}

.noActive {
    display: none;
}

section.completeState img {
    object-fit: contain;
    width: 80px;
}

div.smallWrapper {
    text-align: center;
}

h1 {
    font-size: 24px;
    letter-spacing: 4px;
}

p.textUnderH1 {
    font-size: 18px;
    letter-spacing: 0;
    color: rgb(144, 144, 144);
}

.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }



@media (min-width: 1024px) {

section.main {
    flex-direction: row;
}

div.imgBackground {
    width: 30vw;
    height: 100%;
}

div.frontCard, div.backCard {
    width: 400px;
    height: 220px;
    transition: .1s;
}

div.frontCard {
    top: 15vh;
    left: 2vw; 
    padding: 30px;
}

div.frontCard img {
    width: 20%;
}


div.frontCard p.cardNumber {
    padding-top: 60px;
    font-size: 24px;
    letter-spacing: 3px;
}

div.frontCard p {
    padding-top: 15px;
}

div.frontCard div p:nth-child(2) {
    padding-right: 5px;
}

div.backCard {
    top: 42vh;
    left: 4vw;
}

div.backCard p {
    line-height: 195px;
    padding-right: 60px;
}

section.startState {
    height: 100%;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

div.cardWrapper {
    width: 400px
}

button {
    width: 400px;
}

}

@media (min-width: 1250px) {
    div.frontCard {
    left: 10vw; 
}

div.backCard {
    left: 15vw;
}

}

